.ca2 {
    text-align: center;
}
  
.ca2 img {
    margin: 0 auto;
    height: 300px;
    width: 300px;
}

.cb1 {
    text-align: center;
}
  
.cb1 img {
    margin: 0 auto;
    height: 300px;
}

.cc1 {
    text-align: center;
}
  
.cc1 img {
    margin: 0 auto;
    height: 300px;
}

.cc2 {
    text-align: center;
}
  
.cc2 img {
    margin: 0 auto;
    height: 300px;
}

.boton{
    color: black;
    background-color: rgb(38, 12, 153);
    border: 0.5px solid black;
    border-radius: 3px 3px 3px 3px;
    width: 200px;
    font-family: cursive;
    margin-top: 10px;
}
  